@import '../../styles/customMediaQueries.css';

.root {
  flex-grow: 1;
}

.contentContainer {
  composes: marketplaceModalRootStyles from global;
}

.layoutWrapperMain {
  min-height: calc(100vh - var(--topbarHeight));

  @media (--viewportMedium) {
    min-height: calc(100vh - var(--topbarHeightDesktop));
  }
}

.submitEmailContent,
.genericErrorContent,
.emailSubmittedContent,
.emailNotVerifiedContent {
  composes: marketplaceModalBaseStyles from global;
  --colorPrimaryButton: #2E2E2E;
  --colorPrimaryButtonDark: #BAA38A;
  --colorPrimaryButtonLight: #3F3131;

  @media (--viewportMedium) {
    margin-top: 5vh;
    margin-bottom: 7.5vh;
    min-height: auto;
    border-bottom: none;
    border-top: 3px solid var(--colorBlack);
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.22);
    border-radius: 2px;
  }
}

.bottomWrapper {
  composes: marketplaceModalBottomWrapper from global;
  text-align: left;
}

/* ================ Typography ================ */

.modalTitle {
  composes: marketplaceModalTitleStyles from global;
  font-family: 'Century Gothic', sans-serif;
  font-size: 26px;
  text-decoration: none;

  @media (--viewportMedium) {
    font-size: 32px;
  }
}

.modalMessage {
  composes: marketplaceModalParagraphStyles from global;
}

.email {
  font-weight: var(--fontWeightHighlightEmail);
}

.helperLink {
  composes: a from global;
  composes: marketplaceModalHelperLink from global;
  color: #BAA38A;

  &:hover {
    color: #BAA38A;
  }
}

.helperText {
  composes: marketplaceModalHelperText from global;
}
